@import graphs.controllers.CreatePersonForm
@(person: Form[CreatePersonForm])(implicit webJarsUtil: org.webjars.play.WebJarsUtil, request: MessagesRequest[AnyContent])

@import helper._

@request.flash.get("success").map { key =>
   @request.messages(key)
}

@main("Welcome to Play") {
  @form(graphs.controllers.routes.PersonController.addPerson()) {
		@inputText(person("name"))
		@inputText(person("age"))
		@CSRF.formField

		<div class="buttons">
			<input type="submit" value="Add Person"/>
		</div>
	}
}()
