@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)(scripts: Html = Html(""))(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, request: Request[AnyContent])
<!DOCTYPE html>
<html lang="en">
<head>
	@* Here's where we render the page title `String`. *@
	<title>@title</title>
	<link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

	@webJarsUtil.locate("bootstrap.min.css").css()
	@webJarsUtil.locate("c3.min.css").css()
	<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
</head>
<body class="vh-100">
@nav_top()
@* And here's where we render the `Html` object containing
* the page content. *@
@* TESTING removing the outer container has caused the footer to run over the content, this shouldnt happen *@
<div class="container-fluid position-absolute top-0 h-100">
	<div class="row h-100">
		<main class="col-12 col-md-12 ml-sm-auto px-0 bg-dark text-light" role="main">
			<div class="d-flex flex-column justify-content-between h-100 px-0">
				<div class="p-4 h-100">
					@content
				</div>
				<div>
					@authorship()
				</div>
			</div>
		</main>
	</div>
</div>
@* Icons *@
@webJarsUtil.locate("feather.min.js").script()
<script>feather.replace()</script>
@webJarsUtil.locate("jquery.slim.min.js").script()
@webJarsUtil.locate("umd/popper.min.js").script()
@webJarsUtil.locate("bootstrap.min.js").script()
@scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
@scalajs.html.scripts("clientGraphing", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
@scripts
</body>
</html>
