detect_delimiter==0.1.1
elasticsearch==7.0.5
numpy==1.18.5
elasticsearch_dsl==7.1.0
Unidecode==1.0.22
geopandas==0.6.1
xlrd==1.2.0
yattag==1.12.2
matplotlib_venn==0.11.5
pandas==1.0.5
requests==2.23.0
rapidfuzz==0.9.1
pdfminer3k==1.3.1
numba==0.48.0
ezodf==0.3.2
pysal==2.0.0
urllib3==1.26.5
seaborn==0.10.0
tqdm==4.44.1
matplotlib==3.2.1
ipython==7.16.3
python_Levenshtein==0.12.0
Pillow==8.2.0
beautifulsoup4==4.9.1
pdfminer==20191125
