@(message: String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, request: Request[AnyContent])

@main(s"${messages("site.title")}") {
<div class="jumbotron front-page-jumbo text-dark">
	<div class="container">
		<h1 class="display-4 d-none d-md-block">@messages("index.jumbo.title")</h1>
		<h1 class="h4 d-block d-md-none">@messages("index.jumbo.title")</h1>
		<p>@messages("index.jumbo.desc")</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 py-2 py-md-0">
			<div class="row">
				<div class="col">
					<h2 class="d-none d-md-block">@messages("dash.title")</h2>
					<h2 class="h5 d-block d-md-none">@messages("dash.title")</h2>
					<p>@messages("dash.desc")</p>
				</div>
			</div>
			<div class="row d-flex d-md-none">
				<div class="col">
					<a class="btn btn-secondary" href="@graphs.controllers.routes.HomeController.dash" role="button">@messages("dash.title") &raquo;</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 py-2 py-md-0">
			<div class="row">
				<div class="col">
					<h2 class="d-none d-md-block">@messages("project.title")</h2>
					<h2 class="h5 d-block d-md-none">@messages("project.title")</h2>
					<p>@messages("project.desc")</p>
				</div>
			</div>
			<div class="row d-flex d-md-none">
				<div class="col">
					<a class="btn btn-secondary" href="@graphs.controllers.routes.HomeController.project" role="button">@messages("project.title") &raquo;</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 py-2 py-md-0">
			<div class="row"><div class="col">
				<h2 class="d-none d-md-block">@messages("team.title")</h2>
				<h2 class="h5 d-block d-md-none">@messages("team.title")</h2>
				<p>@messages("team.desc")</p>
			</div></div>
			<div class="row d-flex d-md-none">
				<div class="col">
					<a class="btn btn-secondary" href="@graphs.controllers.routes.HomeController.team" role="button">@messages("team.title") &raquo;</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row d-none d-md-flex">
		<div class="col-md-4">
			<a class="btn btn-secondary" href="@graphs.controllers.routes.HomeController.dash" role="button">@messages("dash.title") &raquo;</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-secondary" href="@graphs.controllers.routes.HomeController.project" role="button">@messages("project.title") &raquo;</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-secondary" href="@graphs.controllers.routes.HomeController.team" role="button">@messages("team.title") &raquo;</a>
		</div>
	</div>
</div>
<ul>
	<li>Play shouts out: <em>@message</em></li>
	<li>Scala.js shouts out: <em id="scalajsShoutOut"></em></li>
</ul>
}{ }
