@(elementID: String)(implicit messages: Messages)
<div class="input-group m-1">
	<div class="input-group-prepend">
		<label for="@elementID-select-date-from" class="input-group-text">
			<span class="sr-only">@messages("controls.timespan.from")</span><span data-feather="calendar"></span>
		</label>
	</div>
	<select id="@elementID-select-date-from" class="custom-select btn-outline-secondary h-100" data-style="btn-primary">
	</select>
	<label for="@elementID-select-date-to">
		<span class="sr-only">@messages("controls.timespan.to")</span>
	</label>
	<select id="@elementID-select-date-to" class="custom-select btn-outline-secondary h-100" data-style="btn-primary">
	</select>

</div>
<div class="input-group m-1">
	<div class="input-group-prepend">
		<label for="@elementID-select-category" class="input-group-text">
			<span class="sr-only">@messages("controls.graph.category")</span><span data-feather="filter"></span>
		</label>
	</div>
	<select id="@elementID-select-category" class="custom-select btn-outline-secondary h-100" data-style="btn-primary">
	</select>
</div>