@(elementID: String, options: List[FileOption])(implicit messages: Messages)
@defining(s"$elementID-report-picker") { selectID =>
<div class="input-group m-1">
	<div class="input-group-prepend">
		<label for=@selectID class="input-group-text">
			<span class="sr-only">@messages("controls.reportpicker.label")</span><span data-feather="bar-chart-2"></span>
		</label>
	</div>
	<select id=@selectID class="custom-select btn-outline-secondary h-100" data-style="btn-primary">
		@for(file <- options) {
		<option value="@file.filename">@file.label</option>
		}
	</select>
</div>
}